# Compiled python files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm project settings (optional)
.idea/

# OS-specific
.DS_Store
Thumbs.dbdata/cosine_similarity_weighted.npy
data/cosine_similarity_matrix.npy
data/cosine_similarity_matrix.csv
.git/lfs/objects/*
data/cosine_similarity_weighted.npy
data/cosine_similarity_matrix.npy
data/cosine_similarity_matrix.csv
